@font-face {
  font-family: HelveticaInserat;
  src: url('../fonts/Helvetica Inserat LT.eot');
  src: url('../fonts/Helvetica Inserat LT.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Helvetica Inserat LT.woff') format('woff'),
  url('../fonts/Helvetica Inserat LT.ttf') format('truetype'),
  url('../fonts/Helvetica Inserat LT.svg#ludger_duvernayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  .logo{
    position: fixed;
    margin-top: 75px;
  }
  .wrapper{
    max-width: 1280px;
    min-width: 800px;
    margin-left: 40px;

    nav{
      background-color: #CCCCCC;
      display: flex;
      justify-content: space-between;
      padding: 75px 10px 0 10px;
      margin-bottom: 10px;

      ul{
        padding: 0;
        display: flex;
        margin: 0;
        li{
          list-style: none;
          cursor: pointer;
        }
      }
      .nav__menu{
        .dropDown {
          position: relative;
          display: inline-block;

          &:after{
            content: '\25B8';
            float: right;
            background-color: inherit;
            font-size: 80%;
          }
          &.active{
            background-color: black;
            &:after{
              content: '\25BE';
              float: right;
              background-color: black;
              font-size: 80%;
            }
          }
          @at-root #{&}__content{
            display: none;
            position: absolute;
            background-color: black;
            color: white;
            min-width: 160px;
            padding: 5px;
            z-index: 1;
            left:0;
            top: 30px;
            text-align: left;
            a {
              color: white;
              padding: 5px 10px;
              text-decoration: none;
              display: block;
              font-size: small;
              border-bottom: 1px solid #808080;
              &:last-child {
                border: none;
              }
            }
          }
          .show{
            display:block;
          }
        }

        li{
          width: 80px;
          height: 20px;
          padding: 6px 10px;
          background-color: #666666;
          color: white;
          font-weight: bold;
          margin-right: 2px;
          text-align: center;
          vertical-align: middle;
          &:hover{
            background-color: #000000;
          }
        }
      }
      .nav__language{
        li{
          img{
            margin-left: 5px;
            border: 2px solid black;
            border-radius: 4px;
            opacity: 0.3;
            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
    .container{
      display: flex;
      align-items: stretch;
      margin-bottom: 10px;
      article{
        width: 70%;
        padding: 10px;
        background-color: #515151;
        border: 10px solid #CCCCCC;
        color: white;
        box-sizing: border-box;

        h1{
          font-size: xx-large;
          font-family: HelveticaInserat, Arial, serif;
        }
        & > :nth-child(2){
          border-top: 1px double black;
          margin-top: 0;
          padding-top: 16px;
        }
        p{
          text-indent: 50px;
        }
      }
      aside{
        padding: 10px;
        width: 30%;
        border: 10px solid #A3A3A3;
        background-color: #515151;
        box-sizing: border-box;
        section{
          margin-bottom: 1px;
          background-color: black;
          padding: 10px;
          h3{
            color: white;
            font-size: medium;
            font-weight: normal;
            margin:0;
            &:after{
              content: '\25B8';
              float: right;
              background-color: inherit;
              font-size: 80%;
            }
          }
          p{
            color: white;
            display: none;
          }
        }
      }
    }
    footer{
      background-color: #CCCCCC;
      padding: 4px 20px 4px 20px;
      color: #515151;
      display: flex;
      justify-content: space-between;
      ul{
        padding: 0;
        display: flex;
        li{
          list-style: none;
          margin-left: 15px;
          a{
            color: #515151;
          }
        }
      }
    }
  }
}









