@font-face {
  font-family: HelveticaInserat;
  src: url('../fonts/Helvetica Inserat LT.eot');
  src: url('../fonts/Helvetica Inserat LT.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Helvetica Inserat LT.woff') format('woff'),
  url('../fonts/Helvetica Inserat LT.ttf') format('truetype'),
  url('../fonts/Helvetica Inserat LT.svg#ludger_duvernayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.logo{
  position: fixed;
  margin-top: 75px;
}
.wrapper{
  max-width: 1280px;
  min-width: 800px;
  margin-left: 40px;
}

.nav{
  background-color: #CCCCCC;
  display: flex;
  justify-content: space-between;
  padding: 75px 10px 0 10px;
  margin-bottom: 10px;
}
.nav__menu{
  padding: 0;
  display: flex;
  margin: 0;
}
.nav__listItems{
  width: 80px;
  height: 20px;
  padding: 6px 10px;
  background-color: #666666;
  color: white;
  font-weight: bold;
  margin-right: 2px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  cursor: pointer;
  &:hover{
    background-color: #000000;
  }
}
.nav__flags{
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 4px;
  opacity: 0.3;
  &:hover{
    opacity: 1;
  }
  &.selected{
    opacity: 1;
  }
}
.dropDown {
  position: relative;
  display: inline-block;

  &:after{
    content: '\25B8';
    float: right;
    background-color: inherit;
    font-size: 80%;
  }
  &.active{
    background-color: black;
    &:after{
      content: '\25BE';
      float: right;
      background-color: black;
      font-size: 80%;
    }
  }
  @at-root #{&}__content{
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    min-width: 160px;
    padding: 5px;
    z-index: 1;
    left:0;
    top: 30px;
    text-align: left;
    @at-root #{&}__games {
      color: white;
      padding: 5px 10px;
      text-decoration: none;
      display: block;
      font-size: small;
      border-bottom: 1px solid #808080;
      &:last-child {
        border: none;
      }
    }
  }
}

.container{
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
}

.section{
  width: 70%;
  padding: 10px;
  background-color: #515151;
  border: 10px solid #CCCCCC;
  color: white;
  box-sizing: border-box;
  & > :nth-child(2){
    border-top: 1px double black;
    margin-top: 0;
    padding-top: 16px;
  }
}
.section__header{
  font-size: xx-large;
  font-family: HelveticaInserat, Arial, serif;
}
.section__text{
  text-indent: 50px;
}

.aside{
  padding: 10px;
  width: 30%;
  border: 10px solid #A3A3A3;
  background-color: #515151;
  box-sizing: border-box;
}
//Functionality for Detail tag
.aside__detail{
  margin-bottom: 1px;
  background-color: black;
  padding: 10px;
  &[open] {
    .aside__detail__text {
      display: inline-block;
    }
    .aside__detail__smr {
      &:after{
        content: '\25BE';
        float: right;
        background-color: inherit;
        font-size: 80%;
      }
      .smr--opened {
        display: inline-block;
      }
      .smr--closed {
        display: none;
      }
    }
  }
}
.aside__detail__smr{
  cursor: pointer;
  margin:0;
  color: white;
  font-size: medium;
  font-weight: normal;
  background-color: black;
  border: none;
  padding: 0;
  width: 100%;
  text-align: left;
  &:after{
    content: '\25B8';
    float: right;
    background-color: inherit;
    font-size: 80%;
  }
  &::-webkit-details-marker {
    display: none;
  }
  &:focus{
    outline: none;
  }
}
.aside__detail__text{
  color: white;
  display: none;
}
.smr--opened{
  display: none;
}

.footer{
  background-color: #CCCCCC;
  padding: 4px 20px 4px 20px;
  color: #515151;
  display: flex;
  justify-content: space-between;
}
.footer__menu{
  padding: 0;
  display: flex;
}
.footer__listItems{
  list-style: none;
  margin-left: 15px;
  a{
    color: #515151;
  }
}
.show{
  display: block;
}